html {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  width: 200px;
  height: 70px;
  cursor: pointer;
  background-color: red;
  color: #FFFF;
  font-size: 1.2rem;
}